<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='phangiohoc'></ion-back-button>
    </ion-buttons>
    <ion-title>Kiểm tra lại thông tin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class='ion-card'>
    <ion-item>
      <ion-card-header>
        <ion-card-title>Thông tin phân giờ</ion-card-title>
      </ion-card-header>
    </ion-item>
    <ion-card-content>
        <br>
        <ion-item>Học kỳ        : {{hocky}}</ion-item>
        <ion-item>Giảng viên    : {{tengiangvien}}</ion-item>
        <ion-item>Mã giảng viên : {{magiangvien}}</ion-item>
        <ion-item>Lớp           : {{lop}}</ion-item>
        <ion-item>Môn học       : {{tenmonhoc}}</ion-item>
        <ion-item> Phòng học     : {{tenphonghoc}}</ion-item>
        <ion-item>Ngày bắt đầu  : {{ngaybatdau}}</ion-item>
        <ion-item>Ngày kết thúc : {{ngayketthuc}}</ion-item>
        <ion-item>Giờ bắt đầu   : {{giobatdau}}</ion-item>
        <ion-item>Giờ kết thúc  : {{gioketthuc}}</ion-item>
        <ion-item>Ngày học      : {{ngayhoc}}</ion-item>
      <br>
      <ion-button type='submit' expand='block' (click)='PushDataToSever()'>Gửi lên sever</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
