<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class='ion-card'>
      <ion-card-header>
        <ion-card-title class="title">Thông tin phân giờ</ion-card-title>
      </ion-card-header>
    <ion-card-content>
        <ion-item>
          <ion-col>
            <p>Học kỳ :</p>
          </ion-col>
          <ion-col>
            <p>{{ hocky }}</p>
          </ion-col> 
        </ion-item>
        <ion-item>
          <ion-col>
            <p>Giảng viên : {{ tengiangvien }}</p>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col>
            <p>Mã giảng viên : {{ magiangvien }}</p>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col>
            <p>Lớp : {{ lop }}</p>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col>
            <p>Môn học : {{ tenmonhoc }}</p>
          </ion-col>
        </ion-item>
        <ion-item> 
          <ion-col>
            <p>Phòng học :</p>
          </ion-col>
          <ion-col>
            <p>{{ tenphonghoc }}</p>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col>
            <p>Ngày bắt đầu : {{ ngaybatdau }}</p>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col>
            <p>Ngày kết thúc : {{ ngayketthuc }}</p>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col>
            <p>Giờ bắt đầu : {{ giobatdau }}</p>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col>
            <p>Giờ kết thúc : {{ gioketthuc }}</p>
          </ion-col>
        </ion-item>
        <br>
        <ion-row>
          <ion-col>
            <ion-button type='submit' expand='block' (click)='PushDataToSever()'>Gửi lên sever</ion-button>
          </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>
      
</ion-content>
