<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>lịch sử điểm danh</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor='let ldd of listdiemdanh'>
    <ion-card>
      <ion-card-header>
          <ion-card-title class="title">{{ ldd.ngaydiemdanh }}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-item>
          <p>Giờ điểm danh : {{ ldd.giodiemdanh }}</p>
        </ion-item>
        <ion-item>
          <p>Lớp : {{ ldd.lop }}</p>
        </ion-item>
        <ion-item>
          <p>Môn học : {{ ldd.monhoc }}</p>
        </ion-item>
        <div>
          <ion-item (click)='isShowDihoc = !isShowDihoc'>
            <ion-col size='10.5'>
              <p> Đi học : {{ ldd.soluongSVdihoc }} sinh viên </p>
            </ion-col>
            <ion-col size='1.5'>
              <ion-icon name="chevron-down-outline" *ngIf='isShowDihoc == false'></ion-icon>
              <ion-icon name="chevron-up-outline" *ngIf='isShowDihoc == true'></ion-icon>
            </ion-col>
          </ion-item>
          <ion-item-sliding *ngFor='let dihoc of ldd.danhsachSVdihoc'>
            <ion-item *ngIf='isShowDihoc == true' class="danhsachsv">
              <p> {{ dihoc }} </p>
            </ion-item>
          </ion-item-sliding>
        </div>
         <div>
          <ion-item (click)='isShowVanghoc = !isShowVanghoc'>
            <ion-col size='10.5'>
              <p>Vắng học : {{ ldd.soluongSVvanghoc }} sinh viên</p>
            </ion-col>
            <ion-col size='1.5'>
              <ion-icon name="chevron-down-outline" *ngIf='isShowVanghoc == false'></ion-icon>
              <ion-icon name="chevron-up-outline" *ngIf='isShowVanghoc == true'></ion-icon>
            </ion-col>
          </ion-item>
          <ion-item-sliding *ngFor='let vanghoc of ldd.danhsachSVvanghoc'>
            <ion-item *ngIf='isShowVanghoc == true' class="danhsachsv">
              <p> {{ vanghoc }} </p> 
            </ion-item>
          </ion-item-sliding>
         </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
