<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Chọn chức vụ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group >
      <ion-list-header>
        <h4>Chức vụ của bạn là</h4>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Giảng viên</ion-label> 
        <ion-radio slot="start"  id="giangvien" (ionFocus)="getId($event);"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Đào Tạo</ion-label>
        <ion-radio slot="start"  id="daotao" (ionFocus)="getId($event);"></ion-radio>
      </ion-item> 
  
      <ion-item>
        <ion-label>Công tác sinh viên</ion-label>
        <ion-radio slot="start" id="congtacsinhvien" (ionFocus)="getId($event);"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <br>
  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block" (click)="TiepTuc()" >Tiếp tục</ion-button>
    </ion-col>
  </ion-row>
  <br>
  <ion-label class="small-text">
    <p>
    *Bạn lưu ý, chức vụ bạn chọn bây giờ là gì thì khi đăng nhập chúng tôi sẽ chuyển đến trang của chức vụ đó.
    </p>
  </ion-label>
</ion-content>
