.ion-label p
{
    text-align: center;
    margin-top: 50%;
    font-size: 24px;
}
.text-center p
{
    text-align: center;
    color: #FF3333;
}
.bold p 
{
    font-weight: bold;
}
.ion-row 
{
    font-weight: bold;
}