<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Điểm danh</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-grid>
      <ion-row class="ion-row">
        <ion-col size='6'>
          Lớp : {{malop}}
        </ion-col>
        <ion-col size='6'>
          Môn học : {{monhoc}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-label class="chontatca">Chọn tất cả</ion-label>
    <ion-checkbox (ionChange)="getStatus($event)" slot="end"></ion-checkbox>
  </ion-item><br>
  <ion-list *ngFor='let sv of listsinhvien'>
    <ion-item>
      <ion-label>{{sv.D}}</ion-label>
      <ion-checkbox slot="end" value='{{sv.D}}' checked="{{chontatca}}" (ionChange)='getSinhvien($event)'></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label class='bold'>
      <p>Số lượng sinh viên : {{soluongsinhvien}}</p>
    </ion-label>
  </ion-item>
  <br>
  <ion-row>
    <ion-col>
      <ion-button *ngIf="dadiemdanhroi == false" type='submit' (click)='sendDiemDanh()' expand='block'>Gửi điểm danh</ion-button>
    </ion-col>
  </ion-row>
  <br>
  <ion-label class='text-center' *ngIf='dadiemdanhroi == true'><p>Bạn đã gửi thông tin điểm danh</p></ion-label>
  <br>
  <ion-row>
    <ion-col>
      <ion-button type='submit' *ngIf='dadiemdanhroi == true' (click)='xemThongtindiemdanh()' expand='block'>Xem thông tin điểm danh</ion-button>
    </ion-col>
  </ion-row>
  <br>
</ion-content>

