<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='tabs/tab5'></ion-back-button>
    </ion-buttons>
    <ion-title>Phân giờ dạy cho giảng viên</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <br>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          Học kỳ : {{ hk }}
        </ion-col>
        <ion-col>
          Giảng viên : {{ tengiangvien }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-list *ngIf='showChonmonChongiangvien == true'> <!--show ra khi bien checkshow = true-->
    <ion-item>
      <ion-label>Chọn lớp</ion-label>
      <ion-select (ionChange)='getTenlop($event)' >
        <ion-select-option *ngFor='let lop of listlop'>
          <ion-item>{{lop.B}}</ion-item>
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Chọn môn học</ion-label>
      <ion-select (ionChange)='getTenmh($event)' >
        <ion-select-option *ngFor='let mh of listmonhoc'> 
          <ion-item>
            <ion-label >
              {{mh.D}}
            </ion-label>
          </ion-item>
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Chọn phòng học</ion-label>
      <ion-select (ionChange)='getTenphonghoc($event)' >
        <ion-select-option *ngFor='let ph of listphonghoc'> 
          <ion-item>
            <ion-label>
              {{ph.B}}
            </ion-label>
          </ion-item>
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size='4'>
          Lớp : {{ tenlop }}
        </ion-col>
        <ion-col size='4'>
          Môn học : {{ tenmonhoc }}
        </ion-col>
        <ion-col size='4'>
          Phòng học : {{ tenphonghoc }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='5'></ion-col>
        <ion-col>
          <ion-icon class="icon" name="chevron-down-outline" *ngIf='showChonmonChongiangvien == false' (click)="iconMoRong()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <br>
  <ion-item>
    <ion-label>Ngày bắt đầu</ion-label>
    <ion-datetime 
      placeholder="Chọn ngày"
      displayFormat="DD - M - YYYY" 
      cancelText="Hủy" 
      doneText="Chọn"
      [(ngModel)] ='ngaybatdau' 
      >
  </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Ngày kết thúc</ion-label>
    <ion-datetime 
      placeholder="Chọn ngày"
      displayFormat="DD - M - YYYY" 
      doneText="Chọn"
      cancelText="Hủy" 
      [(ngModel)] ='ngayketthuc' >
  </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Tiết bắt đầu</ion-label>
    <ion-select okText="Chọn" cancelText="Hủy" (ionChange)="getTietbatdau($event)">
      <ion-select-option *ngFor="let th of listtiethoc">{{th.tiethoc}} - {{th.giobatdau}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Tiết kết thúc</ion-label>
    <ion-select okText="Chọn" cancelText="Hủy" (ionChange)="getTietketthuc($event)">
      <ion-select-option *ngFor="let th of listtiethoc">{{th.tiethoc}} - {{th.gioketthuc}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item >
    <ion-label>Ngày học</ion-label>
    <ion-select (ionChange)="getNgayhoc($event)">
      <ion-select-option *ngFor='let nh of listngayhoc'>
        <ion-item>
          <ion-label>{{nh}}</ion-label>
        </ion-item>
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="ngayhoc != ''">
    <ion-label>Ngày học : {{ngayhoc}} </ion-label>
    <ion-icon size="12" name="trash-outline" (click)="iconDelete()"></ion-icon> 
  </ion-item>
  <br>
  <ion-row>
    <ion-col>
      <ion-button type='submit' (click)='TiepTuc()' expand='block'>Tiếp tục</ion-button>
    </ion-col>
  </ion-row>  
  
</ion-content>
