<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Thông tin lớp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <form *ngFor='let lop of listlop'>
    <ion-list *ngIf = 'lop.B == malop'>
      <ion-item>
        <ion-col>
          <p>Tên lớp :</p>
        </ion-col>
        <ion-col>
          <p>{{ lop.C }}</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <p>Mã lớp : </p>  
        </ion-col>
        <ion-col>
          <p>{{ lop.B }}</p>
        </ion-col>
      </ion-item>
      <ion-item (click)="isShowListSV = !isShowListSV">
        <ion-col size='10.5'>
          <p>Số lượng sinh viên : {{ tongsv }}</p>  
        </ion-col>
        <ion-col size='1.5'>
          <ion-icon name="chevron-down-outline" *ngIf="isShowListSV == false" ></ion-icon>
          <ion-icon name="chevron-up-outline" *ngIf="isShowListSV == true" ></ion-icon>
        </ion-col>
      </ion-item>
      <br>
      <ion-list *ngFor='let sv of listsv'>
          <ion-item *ngIf="isShowListSV == true" (click)="gotoThongtinsv(sv.mssv)"> <!--sv.C = masv (firebase)-->
            <ion-col>
              <p>{{ sv.sothutu }}. {{ sv.tensinhvien }}</p>
            </ion-col>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
      </ion-list>
    </ion-list>
  </form>
</ion-content>

