<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Thông tin điểm danh</ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class='ion-card'>
    <ion-card-header>
      <ion-card-title class="title">Thông tin điểm danh</ion-card-title>
    </ion-card-header> 
    
    <ion-card-content>
      <ion-list *ngFor='let thongtindd of thongtindiemdanh'>
        <ion-item>
          <p>Ngày điểm danh : {{ thongtindd.ngaydiemdanh }}</p>
        </ion-item>
        <ion-item>
          <p>Giờ điểm danh : {{ thongtindd.giodiemdanh }}</p>
        </ion-item>
        <ion-item>
          <p>Lớp : {{ thongtindd.lop }}</p>
        </ion-item>
        <ion-item>
          <p>Môn học :{{ thongtindd.monhoc }}</p>
        </ion-item>
        <div>
          <ion-item (click)='isshowDihoc = !isshowDihoc'>
            <ion-col size='10.5'>
              <p>Đi học : {{ thongtindd.soluongSVdihoc }} sinh viên</p>
            </ion-col>
            <ion-col size='1.5'>
              <ion-icon name="chevron-down-outline" *ngIf='isshowDihoc == false'></ion-icon>
              <ion-icon name="chevron-up-outline" *ngIf='isshowDihoc == true'></ion-icon>
            </ion-col>
          </ion-item>
          <ion-item-sliding *ngFor='let dihoc of thongtindd.danhsachSVdihoc'>
            <ion-item *ngIf='isshowDihoc == true' class="danhsachsv">
              <p>{{dihoc}}</p>
            </ion-item>
          </ion-item-sliding>
        </div>
        <div>
          <ion-item (click)='isshowVanghoc = !isshowVanghoc'>
            <ion-col size='10.5'>
              <p>Vắng học : {{ thongtindd.soluongSVvanghoc }} sinh viên</p>
            </ion-col>
            <ion-col size='1.5'>
              <ion-icon name="chevron-down-outline" *ngIf='isshowVanghoc == false'></ion-icon>
              <ion-icon name="chevron-up-outline" *ngIf='isshowVanghoc == true'></ion-icon>
            </ion-col>
          </ion-item>
          <ion-item-sliding *ngFor='let vanghoc of thongtindd.danhsachSVvanghoc'>
            <ion-item *ngIf='isshowVanghoc == true' class="danhsachsv">
              <p>{{vanghoc}}</p>
            </ion-item>
          </ion-item-sliding>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-row>
    <ion-col>
      <ion-button type='submit' [routerLink]="['/lichsudiemdanh']" expand='block'>Lịch sử điểm danh lớp này</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
