<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dangky">Quay lại</ion-back-button>
    </ion-buttons>
    <ion-title>verify-email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h2>Xác Thực email</h2>
      <p>
        Chúng tôi đã gửi 1 email xác nhận tài khoản đến gmail của bạn, vui lòng kiểm tra hộp 
        thư đến.<br><br>Nếu chưa nhận được mail, vui lòng nhấn nút gửi lại mail và kiểm tra lại!
      </p>
      <ion-col>
        <!--
          <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">
          Gửi lại email
        </ion-button>-->
        <ion-button type="submit" [routerLink]="['/dangnhap']" expand="block">
          Tôi đã nhận được email
        </ion-button>
        <ion-button type="submit" (click)="reSendEmail()" expand="block">
          Gửi lại email
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>