<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Đăng ký</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines = "full">
    <ion-label position = "floating">Mã bảo mật</ion-label>
    <ion-input type = "text" [(ngModel)] = "mabaomat"></ion-input>
  </ion-item>
  <ion-label class="small-text">*Mã bảo mật được cung cấp bởi hiệu trưởng.</ion-label>
  <ion-item lines = "full" *ngIf="chucvu == 'giangvien'"> <!--view ra khi chucvu tra ve la 'giangvien'-->
    <ion-label position = "floating">Mã giảng viên</ion-label>
    <ion-input type = "text" [(ngModel)] = "magiangvien"></ion-input>
  </ion-item>
  <ion-item lines = "full">
    <ion-label position = "floating">Email</ion-label>
    <ion-input type = "text" [(ngModel)] = "email"></ion-input>
  </ion-item>
  <ion-item lines = "full">
    <ion-label position = "floating">Mật khẩu</ion-label>
    <ion-input type = "password" [(ngModel)] = "password"></ion-input>
  </ion-item>
  <ion-item lines = "full">
    <ion-label position = "floating">Xác nhận mật khẩu</ion-label>
    <ion-input type = "password" [(ngModel)] = "repassword"></ion-input>
  </ion-item><br><br>
  <ion-row>
    <ion-col> 
      <ion-button type="submit" (click)="signUp()" expand="block">Đăng ký</ion-button>
    </ion-col>
  </ion-row>
</ion-content>