<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Thông tin môn học</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <form *ngFor = 'let mh of listmonhoc'>
    <ion-list *ngIf = 'mh.C == msmh'> <!--ionlist chỉ hiển thị khi : mh.C == msmh(bên file .ts)-->
      <ion-item>
        <ion-col> 
          <p>Tên môn học : {{ mh.D }}</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <p>MSMH : </p>  
        </ion-col>
        <ion-col>
          <p>{{ mh.C }}</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <p>Số tín chỉ : </p>  
        </ion-col>
        <ion-col>
          <p>{{ mh.E }}</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <p>Học ở : </p>  
        </ion-col>
        <ion-col>
          <p>{{ mh.A }}</p>
        </ion-col>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
