.content{
    text-align: center;
    justify-content: center;
}

.content .ion-item
{
    padding-top: 25px;
}
.main{
    margin-top: 70px;
}
.quenmatkhau{
    background: red($color: #000000);
    text-align: end;
}
.banquyen p{
    margin-top: 95px;
    font-size: 13px;
}
.ion-list{
    margin-top: 30px;
}
.btnDangnhap{
    margin-right: 55px;
}
.icon
{
    width: 30px;
    height: 30px;
    color: #ff0000;
}
p
{
    color: #000066;
    font-size: 17px;
}
.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}
