<ion-header>
  <ion-toolbar>
    <ion-title>Đăng Nhập</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-item class="ion-item">
    <ion-label position="stacked" >Email</ion-label>
    <ion-input id="email" type="text" placeholder="Nhập email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Mật khẩu</ion-label>
    <ion-input id="password" type="{{inputType}}" placeholder="Nhập mật khẩu" [(ngModel)]="password"></ion-input>
    <ion-icon class="icon_eye" name="eye-outline" *ngIf='isSeePassword == true' (click)="isSeePassword = !isSeePassword; inputType = 'password'" slot="end"></ion-icon>
    <ion-icon class="icon_eye" name="eye-off-outline" *ngIf='isSeePassword == false' (click)="isSeePassword = !isSeePasswor; inputType = 'text'" slot="end"></ion-icon>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-checkbox class='ion-checkbox' color="dark" (ionChange)='getNhomatkhau($event)' checked="{{nhomatkhau}}"></ion-checkbox>
        Lưu mật khẩu
      </ion-col>
      <ion-col size="6">
        <br>
        <a class="quenmatkhau" [routerLink]="['/quenmatkhau']">Quên mật khẩu?</a>
      </ion-col>
    </ion-row>
  </ion-grid>  
  <br>
  <ion-row>
    <ion-col>
      <ion-button type="submit"  expand="block" (click)='logIn()'>Đăng nhập</ion-button>
    </ion-col>
  </ion-row>
  <br><br><br>
  <ion-label>
    Tôi chưa có tài khoản? <a [routerLink]="['/chonchucvu']">Tạo</a>
  </ion-label>

</ion-content>
