<ion-header>
  <ion-toolbar>
    <ion-title>Phân giờ giảng</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-item>
    <ion-label>Chọn học kỳ</ion-label>
    <ion-select (ionChange)='getHocky($event)'>
      <ion-select-option *ngFor='let hk of listhocky'>{{hk.B}}</ion-select-option>
    </ion-select>
  </ion-item><br>
  <ion-item>
    <ion-label>Chọn giảng viên</ion-label>
    <ion-select (ionChange)='getGiangvien($event)'>
      <ion-select-option *ngFor='let gv of listgiangvien'>{{gv.C}}  - {{gv.B}}</ion-select-option>
    </ion-select>
  </ion-item><br><br>
  <ion-button type='submit' (click)="nextPage()" expand='block'>Tiếp tục</ion-button>

</ion-content>
