.title
{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #777777;
    color: #ffffff;;
    font-size: 18px;
}
.border
{
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #777777;
}