<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Công tác sinh viên</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h3>Xem lịch sử điểm danh</h3>
  </ion-item>
  <ion-item>
    <ion-label>Lớp</ion-label>
    <ion-select (ionChange)="getLophoc($event)">
    <ion-select-option *ngFor='let lop of malop' >{{lop}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Môn học</ion-label>
    <ion-select (ionChange)="getMonhoc($event)">
    <ion-select-option *ngFor='let mon of monhoc' >{{mon}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button color="primary" (click)='chonlop()'>Lịch sử điểm danh</ion-button>
</ion-content>