<ion-header>
  <ion-toolbar>
    <ion-title>Môn học</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Danh sách môn học</h4>
  <ion-item>
    <ion-label>Lọc theo : </ion-label>
    <ion-select (ionChange)='getHocky($event)'>
      <ion-select-option *ngFor='let hk of listhocky'>
        <ion-item >{{hk}}</ion-item>
      </ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-list *ngFor='let mh of listmonhoctheohocky'>
    <ion-item (click)='getMonhoc(mh.C)'>
      <ion-label>{{mh.D}}</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>