<ion-header>
  <ion-toolbar>
    <ion-title>Lịch dạy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="magvtontai == true">
    <ion-grid>
      <ion-row class="infor">
        <ion-col>Giảng viên : {{tengiangvien}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-list *ngFor='let tkb of listthoikhoabieu'>
      <ion-card *ngIf="magvtontai == true">
        <ion-card-header>
          <ion-card-title class="tenlop">Lớp {{tkb.lop}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <p>Ngày học      : {{ tkb.ngayhoc }}</p>
            </ion-item>
            <ion-item>
              <p>Môn học       : {{ tkb.tenmonhoc }}</p>
            </ion-item>
            <ion-item>
              <p>Phòng học     : {{ tkb.tenphonghoc }}</p>
            </ion-item>
            <ion-item>
              <p>Giờ bắt đầu   : {{ tkb.giobatdau }}</p>
            </ion-item>
            <ion-item>
              <p>Giờ kết thúc  : {{ tkb.gioketthuc }}</p>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
  </ion-list>
  <br>
  <ion-label *ngIf="magvtontai == false">
    <p>Bạn chưa có lịch dạy hoặc mã giảng viên bạn đăng ký chưa đúng, vui lòng liên hệ phòng hiệu trưởng để biết thêm chi tiết.</p>
  </ion-label>
  <ion-grid>
    <ion-button type='submit' *ngIf="magvtontai == true" (click)='diemdanhSV()' expand='block'>Điểm danh sinh viên</ion-button>
    <ion-button type='submit' color='danger' (click)='logOut()' expand='block'>Đăng xuất</ion-button>
  </ion-grid>
  <br>
</ion-content>
